<h1 class="title">Modifier</h1>
<div mat-dialog-content>
    
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <div class="field">
            <div class="control">
                <input
                    type="text"
                    class="input"
                    [(ngModel)]="todo.name"
                    name="text"
                    required
                >
            </div>
        </div>

        <br>

        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <button type="button" class="button is-light" (click)="close()">Annuler</button>
            </div>

            <div class="control">
                <button type="submit" class="button alt-gradient-button">
                    <i class="material-icons">save</i>
                    Enregistrer
                </button>
            </div>
        </div>
    </form>

</div>